# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage
.nyc_output

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
docs

# Misc
.DS_Store
Thumbs.db
